<div class="container">
    <h1>Cadastro de Usuário</h1>
    <form action="" [formGroup]="forms">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="Nome" placeholder="Nome" formControlName="nome"
            required="required"  maxlength="20"
            [ngClass]="{
                'is-valid':(forms.controls['nome'].valid && forms.controls['nome'].touched) || (forms.controls['nome'].valid && forms.controls['nome'].dirty),
                'is-invalid':(forms.controls['nome'].invalid && forms.controls['nome'].touched) || (forms.controls['nome'].invalid && forms.controls['nome'].dirty)
            }"
            >
   
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="Email" placeholder="name@example.com" formControlName="email"
            required="required"
            [ngClass]="{
                'is-valid':(forms.controls['email'].valid && forms.controls['email'].touched) || (forms.controls['email'].valid && forms.controls['email'].dirty),
                'is-invalid':(forms.controls['email'].invalid && forms.controls['email'].touched) || (forms.controls['email'].invalid && forms.controls['email'].dirty)
            }">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Telefone:</label>
            <input type="phone" class="form-control" id="phone" placeholder="(xx) xxxxx-xxxx" formControlName="phone"
            required="required"
            [ngClass]="{
                'is-valid':(forms.controls['phone'].valid && forms.controls['phone'].touched) || (forms.controls['phone'].valid && forms.controls['phone'].dirty),
                'is-invalid':(forms.controls['phone'].invalid && forms.controls['phone'].touched) || (forms.controls['phone'].invalid && forms.controls['phone'].dirty)
            }"
            >
        </div>
        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Senha:</label>
            
           <div class="input-group" >
              <span class="input-group-text" id="basic-addon1" style="cursor: pointer;" (click)="hide()"> 
                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16" style="cursor: pointer;">
                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
              </svg>
            </span>   
              <input nput [type]="fill ? 'password' : 'text'" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="password"
              required="required">
           </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirmar Senha</label>
            <div class="input-group">
                <span (click)="hide()" class="input-group-text" id="basic-addon1" style="cursor: pointer;"> 
                    <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16" style="cursor: pointer;">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </span>  
                <input nput [type]="fill ? 'password' : 'text'" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"  formControlName="confPassword"
                required="required">

            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success me-3 rounded-3" (click)="cadastrar()" [disabled]="forms.invalid ">Cadastrar</button>
            <button type="button" class="btn btn-primary rounded-3">Cancelar</button>
        </div>
    </form>
</div>
